.container{
    width: 1140px;
    margin: 0 auto;
}
.form{
    display:flex;
}
.form_item{
    margin-right: 20px;
}

.alert{
    width: 100%;
    padding: 20px;
    background-color: palevioletred;
    color: white;
    margin-bottom: 40px;
}

ul{
    list-style-type: none;
}

.alert-success{
    background-color: lightgreen;
}
